.login {
  color: var(--deep-purple);
  background-color: var(--pale-purple);
}

.title{
  font-size: 24px;
}

.login_container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  padding-bottom: 100px;
}

.register-link {
  color: #3c407f; /* 링크 색상 */
  font-weight: bold; /* 글꼴 두께 */
  text-decoration: underline; /* 밑줄 스타일 */
}

.register-link:hover {
  color: #6868ac; /* 링크에 마우스 호버 시 색상 변경 */
  text-decoration: none; /* 밑줄 제거 */
}
