.coding_problem_list_container {
    width: 100vw;
    height: 90%;
    background-color: #f2f2f2;
  }
  .coding_problem_score {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    width: 90%;
    height: 50px;
  }
  
  .score_bar_container {
    position: relative;
  }
  .score_bar {
    position: absolute;
    top: 0px;
    width: 150px;
    height: 20px;
    text-align: right;
    border: 1px solid var(--deep-purple);
  }
  .score_bar_active {
    position: absolute;
    top: 0px;
    height: 20px;
    background-color: var(--deep-purple);
  }
  .coding_problem_list_title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10%; */
    font-weight: 800;
    font-size: 40px;
    color: var(--deep-purple);
  }
  .coding_problem_list_table {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
  }
  .MuiTableRow-hover:hover {
    background-color: var(--pale-purple) !important;
  }