.coding_problem_container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .coding_problem_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: var(--deep-purple);
  }

  .coding_problem_timer {
    margin-left: auto;
    font-size: 20px;
    color: #999;
  }
  
  .coding_problem_content_info {
    margin-top: 20px;
    max-height: 150px;
    overflow: auto;
  }
  
  .coding_problem_content_text {
    line-height: 1.5;
    color: #333;
  }

  .coding_problem_inputoutput {
  display: flex;
  margin-top: 20px;
}

.coding_problem_label {
  font-weight: bold;
  margin-right: 10px;
  color: var(--deep-purple);
}

.coding_problem_content_input,
.coding_problem_content_output {
  flex: 1;
  position: relative;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.coding_problem_content_input {
  margin-right: 10px;
  max-height: 150px;
  overflow: auto;
}

.coding_problem_content_output {
  margin-left: 10px;
  max-height: 150px;
  overflow: auto;
}