.ethics_problem_list_container {
  width: 100vw;
  height: 100%;
  background-color: #f2f2f2;
  padding-bottom: 100px;
}

.ethics_problem_percent {
  display: flex;
  justify-content: end;
  padding-top: 20px;
  width: 90%;
  height: 50px;
}

.percent_bar_container {
  position: relative;
}
.percent_bar {
  position: absolute;
  top: 0px;
  width: 150px;
  height: 18px;
  text-align: right;
  border: 1px solid var(--deep-purple);
}
.percent_bar_active {
  position: absolute;
  top: 0px;
  height: 20px;
  background-color: var(--deep-purple);
}
.ethics_problem_list_title {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 10%; */
  font-weight: 800;
  font-size: 40px;
  color: var(--deep-purple);
}
.ethics_problem_list_table {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
}
.MuiTableRow-hover:hover {
  background-color: var(--pale-purple) !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
